@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: 'Lora', serif;
}

header {
    overflow: hidden;
    margin: auto;
    padding: 15px 60px;
    box-shadow: 0px 2px 2px 0 rgba(82, 173, 131, 0.2);
}

header .logo {
    float: left;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.green {
    color: #48F97D;
}

header .menu {
    float: right;
    margin: 20px 0;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    margin: 0 25px;
    font-weight: bold;
    text-decoration: none;
    color: #48F97D;
}

.nav-one:hover~hr {
    margin-left: 0%;
    display: block;
}

.nav-two:hover~hr {
    margin-left: 35%;
    display: block;
}

.nav-three:hover~hr {
    margin-left: 65%;
    display: block;
}

ul hr {
    width: 35%;
    margin: 5px;
    height: 5px;
    background: grey;
    transition: .3s;
}

.welcome-content {
    display: flex;
    width: 90%;
    margin: 100px auto;
    align-items: center;
}

.intro {
    flex-grow: 1;
}

.intro p {
    padding: 30px;
    text-align: justify;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: grey;
}

.cover {
    flex-grow: 1;
    text-align: center;
}

.cover img {
    width: 75%;
}

.main-content {
    width: 90%;
    margin: auto;
}

.card {
    display: flex;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    align-items: center;
    box-shadow: 0px 5px 1px 0 rgba(82, 173, 131, 0.2);
}

.desc {
    flex-grow: 2;
    margin: 20px 40px;
    line-height: 1.5em;
}

.desc-img {
    flex-grow: 1;
    text-align: center;
}

.desc-img img {
    width: 300px;
}

h2 {
    color: #48F97D;
    margin-bottom: 20px;
}

.grey {
    color: grey;
}

.secondary-content {
    overflow: hidden;
    margin: 30px auto;
}

.center {
    text-align: center;
}

.secondary-content #partner {
    float: left;
    width: 40%;
    align-items: center;
}

.container-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container-row {
    display: flex;
}

.container-row img {
    flex-basis: 33%;
    width: 125px;
    margin: 10px 10px;
    padding: 20px;
}

.secondary-content #tentang {
    float: right;
    width: 60%;
    padding: 20px;
}

footer {
    display: flex;
    height: 150px;
    padding: 30px;
    box-shadow: 0px -2px 2px 0 rgba(82, 173, 131, 0.2);
    align-items: center;
}

.anchors {
    flex-grow: 1;
    flex-basis: 20%;
    font-size: 17px;
    text-align: center;
}

.anchors ul li {
    display: inline-block;
    margin: 0 25px;
}

.anchors ul li a {
    color: grey;
    text-decoration: none;
}

.anchors ul li a:hover {
    color: black;
    font-weight: bold;
}

.bottom-logo {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.3em;    
}

.social-media {
    flex-grow: 1;
    flex-basis: 20%;
    padding: 20px;
    text-align: center;
    font-size: 10px; 
}

.social-media img {
    width: 40px;
    margin: 0 20px;
}

@media screen and (max-width: 1000px) {
    header .logo {
        float: none;
        text-align: center;
    }
    header .menu {
        float: none;
        text-align: center;
        margin: 25px;
    }
    nav ul li a {
        margin: 0 5px;
    }
    nav ul li a:hover {
        color: black;
    }
    .nav-one:hover~hr {
        display: none;
    }
    .nav-two:hover~hr {
        display: none;
    }
    .nav-three:hover~hr {
        display: none;
    }
    hr {
        display: none;
    }
    .welcome-content {
        flex-direction: column;
        margin: 15px auto;
    }
    .intro {
        margin-top: 10px;
        text-align: center;
    }
    .intro p {
        padding: 10px;
        font-size: 15px;
        text-align: center;
    }
    .cover img {
        margin-top: 25px;
    }
    .card {
        box-shadow: 0px 4px 4px 0 rgba(82, 173, 131, 0.2);
        margin-top: 0px;
    }
    .desc-img {
        display: none;
    }
    .desc {
        text-align: center;
        font-size: 0.9em;
    }
    .secondary-content #partner {
        float: none;
        width: 100%;
    }
    .container-row img {
        width: 125px;
        margin: 10px 10px;
        padding: 40px;
    }
    .secondary-content #tentang {
        float: none;
        width: 100%;
    }    
    .anchors {
        padding: 10px;
        line-height: 1.3em;
    }
    .anchors ul {
        margin-top: 10px;
    }
    .anchors ul li {
        text-align: center;
        font-size: 15px;
        margin: 0px 5px;
    }
    .bottom-logo {
        font-size: 15px;
        padding: 20px;
    }
    .social-media {
        padding: 10px;
    }
    .social-media img {
        width: 30px;
        margin: 10px 5px;
    }
}